name: ci
on:
  push:
    branches:
      - deploy
# Material for MkDocs Insiders is now free for everyone:
# https://squidfunk.github.io/mkdocs-material/blog/2025/11/11/insiders-now-free-for-everyone/#switching-from-insiders
# env:
#  GH_TOKEN: ${{ secrets.GH_TOKEN }}
jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.event.repository.fork == false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install --user --no-warn-script-location --disable-pip-version-check -U mkdocs-material
      - run: pip install --user --no-warn-script-location --disable-pip-version-check -U -r requirements.txt
      - run: mkdocs gh-deploy --force --config-file mkdocs.deploy.yml
